:root {
    /* --border: 1px solid; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    height: 1000px;
    background-image: url('./assets/Rectangle 2.svg');
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    display: none;
}